<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>iumrah Beta</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Система просит доступ к геопозиции, чтобы iumrah Configurator собрал Umrah-пакет исходя из вашего текущего местоположения и учёл аэропорт вашего города.</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchWordmark</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.iumrah.hotel-links</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iumrahapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlue-20</string>
					<string>AppIconBlue-29</string>
					<string>AppIconBlue-40</string>
					<string>AppIconBlue-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIconCyan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconCyan-20</string>
					<string>AppIconCyan-29</string>
					<string>AppIconCyan-40</string>
					<string>AppIconCyan-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIconDeepBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDeepBlue-20</string>
					<string>AppIconDeepBlue-29</string>
					<string>AppIconDeepBlue-40</string>
					<string>AppIconDeepBlue-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIconWorld</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWorld-20</string>
					<string>AppIconWorld-29</string>
					<string>AppIconWorld-40</string>
					<string>AppIconWorld-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIconMakkah</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMakkah-20</string>
					<string>AppIconMakkah-29</string>
					<string>AppIconMakkah-40</string>
					<string>AppIconMakkah-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
